<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>735088083012-ea8u96ubj09dhsmtnkbpbdpul5o5gonv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735088083012-ea8u96ubj09dhsmtnkbpbdpul5o5gonv</string>
	<key>API_KEY</key>
	<string>AIzaSyBhDIPFXs_U8JyYPLTdQlX5J4dKGVKDfKI</string>
	<key>GCM_SENDER_ID</key>
	<string>735088083012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Sahayadarlin.Pronto</string>
	<key>PROJECT_ID</key>
	<string>pronto-d198b</string>
	<key>STORAGE_BUCKET</key>
	<string>pronto-d198b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735088083012:ios:d0280131652f624f</string>
	<key>DATABASE_URL</key>
	<string>https://pronto-d198b.firebaseio.com</string>
</dict>
</plist>